/*Fuentes*/
@font-face {
	font-family: PTSans;
	src: url(../font/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
	font-family: PTSans;
	src: url(../font/PT_Sans/PT_Sans-Web-Bold.ttf);
	font-weight: bold;
}

/*12 Tipos de columnas para asignar anchura a 
elementos de manera más sencilla y estandarizada*/
.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
	
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.col-9-centrar{
	margin-left: 5%;
    margin-right: 5%;
}

/*Configuracíón general de la pagina*/
body {
	margin: 0;
	background-image: url("../img/bg/negro.png");
	font-family: 'PTSans', sans-serif;
	overflow-x: auto;
	overflow-y: auto;
}

#main {
	color: #cccccc;
}

/*Cabecera-header*/
header {
	background-image: url("../img/bg/geometry.png");
	border: 3px solid #cccccc;
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	margin-top: 29px;
	margin-bottom: 29px;
	margin-left: 25px;
	display: inline-block;
	color: #404040;
}

#logo {
	margin-top: 22px;
	margin-bottom: 22px;
	margin-left: 10px;
	float: left;
}

h3 {
	display: inline-flex;
	float: right;
}

.user {
	margin-right: 20px;
	float: right;
}

#logueo {
	order: 1;
	display: flex;
}

#userphoto {
	order: 2;
	margin-top: auto;
	margin-bottom: auto;
}

.right-header {
	display: flex;
	float: right;
	height: 100px;
	align-items: center;
}

/*Estilo de la ventana modal*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	padding-top: 50px;
	height: 100%;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.6)
}

.modal-content {
	display: block;
	color: #cccccc;
	position: relative;
	background-image: url("../img/bg/negro.png");
	margin: auto;
	padding: 20px;
	border: 2px solid #cccccc;
}

.modal-block {
	margin: auto;
	display: block;
	text-align: center;
	margin-top: 30px
}

ul {
	padding: 0;
	list-style: none
}

input {
	margin-top: 8px;
	margin-bottom: 12px;
	padding: 3px 8px;
	outline: none;
	border: none;
	background-image: url("../img/bg/negro.png");
	color: #cccccc;
	border-bottom: 2px solid white
}

input:focus,
select:focus {
	background-color: white;
	color: black;
	background-image: none
}

p {
	padding: 0;
	display: inline
}

/* Estilo del main */
h2 {
	display: block;
	margin-left: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: white;
}

h2.titulop {
	margin-left: 0;
}

.alinear {

	/*Clase para alinear*/
	float: left;
}

.multi-column {
	/*Clase para colocar la reproduccion del video a la derecha */
	display: inline-flex;
}

.margen {
	margin-left: 60px;
	margin-top: 30px;
}

.margen-letras {
	margin-left: 15px;
}

.titulomas {

	/*clase para el contenedor que incluye el titulo y el +*/
	padding-top: 5px;
	color: black;
	margin-top: 10px;
	margin-right: 30px;
    margin-left: 30px;
}

.margen-3 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 60px;
	margin-top: 40px;
}

.titulo {
	float: left;
	display: table;
	margin-left: 3px;
	font-weight: bold;
	color: white;
}
/*Estilo de los iconos*/
.mas {
	float: right;
	display: table;
	margin-right: 3px;
	width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 20px;
}

.corazon{
	float: right;
	display: table;
	width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 2px;
}

.compartir{
	float: right;
	display: table;
	width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 2px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.bordes {
	outline: 1px solid #cccccc;
	outline-offset: 1px;
}

/*Pie de página-footer*/
footer {
	border: 3px solid #cccccc;
	height: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #cccccc;
	clear: both;
}

footer ul {
	display: inline-flex;
	color: #4dd2ff;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	list-style: none;
}

footer a {
	align-self: center;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: #4dd2ff;
}

footer p {
	align-self: center;
}

.copy {
	float: right;
	margin-bottom: 11px;
	margin-top: 11px;
	margin-right: 20px;
}

.little {
	background-color: white;
}

.title {
	float: left;
	display: table;
	overflow: auto;
}

.plus {
	float: right;
	display: table;
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.tamvideo {
	width: 300px;
	height: 188px;
}

/*Clase para ocultar la descripcion y poner la posicion de la descripcion */
.posdescripcion {
	display: none;
	position: relative;
	z-index: 1;    /*No hace nada*/
	text-align: center;
}

.auto {

	/*Clase para centrar la imagen de cada video*/
	margin: auto;
	display: block;
}

p.descrp {
	margin-right: 50px;
	display: block;
}

p.titulo {
	margin-top: 0;
	margin-bottom: 0;
}

/*.posdescripcion2{
position:relative; 
z-index:1; 
background-color: black;

}

.posdescripcion3{
position:relative; 
z-index:1; 
background-color: black;

}
*/
