/*Fuentes*/

@font-face {
	font-family: PTSans;
	src: url(../Ejercicio_2/font/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face{
	font-family: PTSans;
	src: url(../Ejercicio_2/font/PT_Sans/PT_Sans-Web-Bold.ttf);
	font-weight: bold;
}

/*Color de la letra del body*/
#main {
	color: #cccccc;
}

/*-clase para las tres imagenes */
.alinear{
	float: left;
}


header {
	background-image: url("../Ejercicio_2/img/bg/geometry.png");
	border: 3px solid #cccccc;
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

#logo {
	margin-top: 22px;
	margin-bottom: 22px;
	margin-left: 10px; 
	float: left;
}

h1 {
	margin-top: 29px;
	margin-bottom: 29px;
	margin-left: 25px;
	display: inline-block;
	color: #404040;
}

/* Clase para el header */
.usuario {
	
	margin-right: 20px;
	float: right;
}

<<<<<<< HEAD
.multi-column {
	display: inline-flex;
}

.alinear {
	display: inline-block;

#username {
	order: 1;
	display: flex;
}

#userphoto {
	order: 2;
	margin-top: auto;
	margin-bottom: auto;
}

.left-header {
	display: flex;
	float: right;
	height: 100px;
	align-items: center;
>>>>>>> 299fdc890df3e17e8e767749837ebfb7b3de826d
}
body {
	margin: 0;
	padding: 0;
	background-image: url("../Ejercicio_1/img/bg/negro.png");
	font-family: 'PTSans', sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}

/*Pie de página-footer*/

footer {
	border: 3px solid #cccccc;	
	height: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #cccccc;
}

footer ul {
	display: inline-flex;
    color: #4dd2ff;
    margin: 0;
    padding-top: 10px; 
    padding-left: 20px;

}

footer a {
	align-self: center;
	margin-left: 5px;
	margin-right: 5px;
}

footer p {
	align-self: center;
}

.copy {
	float: right;
	margin-bottom: 11px;
	margin-top: 11px;
	margin-right: 20px;
}


/*12 Tipos de columnas para asignar anchura a 
elementos de manera más sencilla y estandarizada*/

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}