/*Fuentes*/
@font-face {
	font-family: PTSans;
	src: url(../Ejercicio 1/font/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face{
	font-family: PTSans;
	src: url(../Ejercicio 1/font/PT_Sans/PT_Sans-Web-Bold.ttf);
	font-weight: bold;
}
/*Color para poner a MY ACCOUNT: #404040;
/*12 Tipos de columnas para asignar anchura a 
elementos de manera más sencilla y estandarizada*/

/*Configuracíón general de la pagina*/
body {
	margin: 0;
	background-image: url("../Ejercicio 1/img/bg/negro.png");
	font-family: 'PTSans', sans-serif;

}

h3 { /*También nos sirve para billing infomation*/
	padding-left: 10px;
	color: #cccccc;
}


/*Cabecera-header*/
header {
	background-image: url("../Ejercicio 1/img/bg/geometry.png");
	border: 3px solid #cccccc;
	height: 94px;
	align-items: center;
	margin-bottom: 30px;

}

footer {
	border: 3px solid #cccccc;	
	clear: both;
	position: relative;
	height: 45px;
	margin-top: 20px;
}

footer ul {
	align-content: left;
    color: #cccccc;
    margin: 0;
    padding-top: 6px; 
    padding-bottom: 6px;
    padding-left: 10px;
}

.margin{
	margin: 6px;
}

#usuario{
	margin: 10px;
	float: right;
	display: inline;
}


p{ 
	color: #cccccc;
	margin: 0px;
	padding: 0;
	display: inline;
}

h1 {
	margin-top: 29px;
	margin-bottom: 29px;
	margin-left: 25px;
	display: inline-block;
	font-family: 'PTSans', sans-serif;
}

a { /*También nos sirve para los enlaces del pie de página*/
	text-decoration: none; 
	color: #4dd2ff;
}

 /*Clases*/
.link-top {
	margin-top: 38px;
	margin-bottom: 38px;
	margin-right: 20px;
	float: right;
}

.subcol-top {
	margin: 0;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}


/* ID */
#logo {
	margin-top: 22px;
	margin-bottom: 22px;
	margin-left: 10px; 
	float: left;
}

