@font-face {
	font-family: Dosis;
	src: url(../Ejercicio 1/font/Dosis/Dosis-Regular.ttf);
}
body { /*se usa para referirse a etiquetas*/
	margin: 0;
	background-image: url("../Ejercicio 1/img/bg/grey_wall.png")
}

header {
	background-image: url("../Ejercicio 1/img/bg/geometry.png");
	border: 3px solid #0f0f0a;
	
}

header nav{
	vertical-align: center;
}


a {
	text-decoration: none; /*para quitar el subrayado de los links*/
	color: #4dd2ff;
	font-family: 'Dosis', sans-serif;
}

footer ul {
	align-content: left;
	vertical-align: center;
	position: absolute;
    margin: 0;
    padding: 8px;
}

#logo {

	margin-left: 18px;
}

#menu {
	float: right;
	margin: 18px ;
}

