@font-face {
	font-family: Dosis;
	src: url(../Ejercicio 1/font/Dosis/Dosis-Regular.ttf);
}

@font-face{
	font-family: Dosis;
	src: url(../Ejercicio 1/font/Dosis/Dosis-Bold.ttf);
	font-weight: bold;
}
body { /*se usa para referirse a etiquetas*/
	margin: 0;
	background-image: url("../Ejercicio 1/img/bg/negro.png");

}

header {
	background-image: url("../Ejercicio 1/img/bg/geometry.png");
	border: 3px solid #0f0f0a;
	
}

header nav{
	float: right;
	margin: 18px;
}


a {
	text-decoration: none; /*para quitar el subrayado de los links*/
	color: #4dd2ff;
	font-family: 'Dosis', sans-serif;
}

footer ul {
	align-content: left;
	vertical-align: center;
    color: #4dd2ff;
    margin: 0;
    padding-top: 6px; 
    padding-bottom: 6px;
}

ul {
	padding: 0;

}

footer {
	border: 3px solid #0f0f0a;	
	clear: both;
	position: relative;
	height: 34px;
}

h3 {
	padding-left: 10px;
}

.junto {
	display: inline;
}
#pinfo, #binfo{
	color: #cccccc;
	height: 210px;
}

#colizq1 {
	float: left;
	width: 33%;
	
}
#colcen1 {
	float: left;
	width: 33%;
}
#colder1 {
	float: right;
	width: 33%;
	align-content: center;
}

#logo {
	margin-left: 18px;
}

#lista2 {
	vertical-align: center;
	float: right;
	margin: 30px;
}

#barra2{
	clear: both;
}

#colder2 {
	float: left;
	width: 45%; 
}

#colizq2 {
	float: left;
	width: 33%;
}

#twitter {
	overflow: auto;
}

#facebook {
	overflow: auto;
}

#number {
	width:50%; 
}

#valid {
	width: 30%;
}

#code {
	width: 20%;
}

#lista2 {
	width: 100%;
	
	margin-left: 0;
	margin-right: 0;
	margin-top: 16px;
}