/*Fuentes*/
@font-face {
	font-family: PTSans;
	src: url(../../../font/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
	font-family: PTSans;
	src: url(../../../font/PT_Sans/PT_Sans-Web-Bold.ttf);
	font-weight: bold;
}

/*12 Tipos de columnas para asignar anchura a 
elementos de manera más sencilla y estandarizada*/
.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

/*Configuracíón general de la pagina*/
body {
	margin: 0;
	background-image: url("../../../img/bg/negro.png");
	font-family: 'PTSans', sans-serif;
	overflow-x: auto;
	overflow-y: auto;
}


/*Cabecera-header*/
header {
	background-image: url("../../../img/bg/geometry.png");
	border: 3px solid #cccccc;
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header a {
	align-self: center;
	margin-left: 15px;
	text-decoration: none;
	color: #4dd2ff;
}

h1 {
	margin-top: 29px;
	margin-bottom: 29px;
	margin-left: 25px;
	display: inline-block;
	color: #404040;
}
h1:hover{
	color: #686868;
	cursor: pointer;
}
#logo {
	margin-top: 22px;
	margin-bottom: 22px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
}

h3 {
	display: inline-flex;
	float: right;
}

.user {
	margin-right: 20px;
}

#username {
	display: flex;
}

#userphoto {
	order: 1;
	margin-top: auto;
	margin-bottom: auto;
}
#userphoto:hover {
	cursor: pointer;
}

.right-header {
	display: flex;
	float: right;
	height: 100px;
	align-items: center;
}
.busqueda {
	margin-top: 30px;
	margin-left: 250px;
	display: inline-flex;
}
/* Estilo del menu desplegable */
.dropdown {
	clear: both;
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Estilo del menu desplegable en la foto de usuario */
.dropdown-1 {
	position: relative;
	display: inline-block;
}
.dropdown-content-1{
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content-1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ul {
	padding: 0;
	list-style: none
}
p {
	padding: 0;
	display: inline
}

/*Pie de página-footer*/
footer {
	border: 3px solid #cccccc;
	height: 48px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #cccccc;
	clear: both;
}

footer ul {
	display: inline-flex;
	color: #4dd2ff;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	list-style: none;
}

footer a {
	align-self: center;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: #4dd2ff;
}

footer p {
	align-self: center;
}

.copy {
	float: right;
	margin-bottom: 11px;
	margin-top: 11px;
	margin-right: 20px;
}

